html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: #222;
    overflow: auto;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}
* {
    box-sizing: border-box;
}
#clock-wrapper {
    width: 320px;
    height: 320px;
    background: #0331b8;
    border-radius: 50%;
    position: relative;
    margin: 70px auto 70px auto;
    border: 10px outset royalblue;
    box-shadow: 5px 5px 10px #161618;
}

span,
#clock-center,
#clock-second,
#clock-minute,
#clock-hour,
#inner-circle {
    display: inline-block;
    position: absolute;
}

#clock-center {
    height: 15px;
    width: 15px;
    margin: auto;
    background: #ff7af9;
    top: 142.5px;
    left: 143px;
    border-radius: 50%;
    z-index: 5;
}
#clock-second {
    width: 1px;
    height: 130px;
    background: #fff;
    top: 20px;
    left: 150px;
    z-index: 4;
    border-radius: 0.5px;
}

#clock-minute {
    width: 3.5px;
    height: 127.5px;
    background: #ff7af9;
    top: 22px;
    left: 149px;
    z-index: 3;
    border-radius: 1.75px;

}